.regionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    /* padding: 1.2rem 2rem 1.2rem 2rem; */
    width: 90%;
    margin: 2.5rem auto;
}
.rightRegion {
    display: block;
    justify-content: center;
    margin: auto;
    flex-basis: 50%;
}
.leftRegion {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-basis: 50%;
}

@media screen and (max-width: 600px) {
    .regionsContainer {
        flex-direction: column;
    }
    .rightRegion {
        width: 100%;
    }
    .leftRegion {
        width: 100%;
    }
}

@media screen and (min-width: 2000px) {
    .regionsContainer {
        width: 90%;
        margin: 2.5rem auto;
    }
}