.breadcrumbContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 0 0 0 2rem;
    padding: 0;
    min-height: 2rem;
}
.breadcrumbItem {
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    text-decoration: none;
    color: black;
}