.containerLayout {
    margin: 1rem auto; 
    padding: 1rem;
}
@media screen and (max-width: 900px) {
    .containerLayout {
        max-width: 90%!important;
    }
}
/* @media screen and (min-width: 1440px) {
    .containerLayout {
        max-width: 50%;
    }
} */